*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
.title {
    font-family: 'Skranji', cursive;
    text-align: center;
    padding: 10px;
}

body {
    background: rgb(115,153,198);
    background: radial-gradient(circle, rgba(115,153,198,1) 0%, rgba(60,88,120,1) 63%, rgba(28,40,54,1) 100%);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
body.correct{
    background: rgb(181,237,172);
    background: radial-gradient(circle, rgba(181,237,172,1) 0%, rgba(77,156,80,1) 63%, rgba(28,54,29,1) 100%);
}
body.wrong{
    background: rgb(237,119,119);
    background: radial-gradient(circle, rgba(237,119,119,1) 0%, rgba(205,75,75,1) 63%, rgba(54,28,28,1) 100%);
}
.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px
}
.score-container{
    align-items: center;
    text-align: center;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
.btn:hover{
    border-color:pink ;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}
.btn.wrong{
   --hue: var(--hue-wrong)
}
.start-btn .next-btn{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 20px;
}
.start-btn:hover{
    background-color: pink;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
.score{
    padding: 10px;
}